
<h2>Cliente excluido com sucesso!</h2>

<button type="button" class="btn btn-primary" onclick="Voltar()">OK</button>

<script>
    function Voltar()
    {
        window.location.href = '../../Cliente/Index';
    }
</script>

