<h2>Excluir Vendedor</h2>

<h3>Deseja realmente excluir o cliente selecionado?</h3>
<br />
<button type="button" class="btn btn-danger" onclick="Nao()">Não</button>
<button type="button" class="btn btn-success" onclick="Sim()">Sim</button>

<script>
    function Sim()
    {
        window.location.href = '../../Vendedor/ExcluirVendedor/' + '@ViewData["IdExcluir"].ToString()';
    }

    function Nao()
    {
        window.location.href = '../../Vendedor/Index';
    }

</script>